@import "vars";
@import "mixins";

#main {
  padding: 100px 0;
  ul {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    perspective: 1000px;
    width: calc(25% - 20px);
    margin: 10px;
  }
  .card {
    transform-style: preserve-3d;
    // transform: rotateY(180deg);
    .face {
      backface-visibility: hidden;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }
    .front {
      background: url("../images/dinos.png");

      .img {
        @include flexCenter();
        transform: translateZ(50px);
        img {
          width: 90%;
        }
      }
    }
    .back {
      background-color: #fff;
      transform: rotateY(180deg);
      padding: 20px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    .info {
      transform: translateZ(100px);
      height: 100%;
      padding: 20px;
      .category {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      .title {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 30px;
        line-height: 1.25;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
      }
      .depth {
        // padding-bottom: 10px;
        border-bottom: 2px solid #f00;
        display: inline-block;
        strong {
          font-weight: 700;
        }
      }
      .price {
        position: absolute;
        bottom: 70px;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}
